<?xml version="1.0" ?>
<config>
    <modules>
        <DS_Call>
            <version>0.0.1</version>
        </DS_Call>
    </modules>
    <admin>
        <routers>
            <dscall_admin>
                <use>admin</use>
                <args>
                    <module>DS_Call</module>
                    <frontName>dscall_admin</frontName>
                </args>
            </dscall_admin>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <dscall module="dscall">
                <title>Call back </title>
                <sort_order>77</sort_order>
                <action>dscall_admin/adminhtml_call</action>
            </dscall>
        </menu>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <dscall>
                    <file>ds_call.xml</file>
                </dscall>
            </updates>
        </layout>

		<routers>
            <dscall>
                <use>standard</use>
                <args>
                    <module>DS_Call</module>
                    <frontName>Call_back</frontName>
                </args>
            </dscall>
        </routers>
    </frontend>
    <global>
        <blocks>
            <dscall>
                <class>DS_Call_Block</class>
            </dscall>
        </blocks>
        <helpers>
            <dscall>
                <class>DS_Call_Helper</class>
            </dscall>
        </helpers>
        <models>
            <dscall>
                <class>DS_Call_Model</class>
                <resourceModel>dscall_resource</resourceModel>
            </dscall>
            <dscall_resource>
                <class>DS_Call_Model_Resource</class>
                <entities>
                    <table_call>
                        <table>ds_call_entities</table>
                    </table_call>
                </entities>
            </dscall_resource>
        </models>
        <resources>
            <dscall_setup>
                <setup>
                    <module>DS_Call</module>
                </setup>
            </dscall_setup>
        </resources>
    </global>
</config>