<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <my translate="label" module="dsnews">
            <label>Module TESTIMONIALS</label>
            <sort_order>100</sort_order>
        </my>
    </tabs>
    <sections>
        <my translate="label" module="dsnews">
            <label>Custom Module Options</label>
            <tab>my</tab>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <my_group translate="label" module="dsnews">
                    <label>Module Settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <my_input translate="label">
                            <label>Setting Title: </label>
                            <comment><![CDATA[Title in web site]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </my_input>

                        <my_input1 translate="label">
                            <label>Setting Keywords: </label>
                            <comment><![CDATA[Keywords in web site]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </my_input1>

                        <my_input2 translate="label">
                            <label>Setting Description: </label>
                            <comment><![CDATA[Description in web site]]></comment>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </my_input2>
                    </fields>
                </my_group>
            </groups>
        </my>
    </sections>
</config>
